@import '../../styles/responsive.module.scss';

.dataTable{

  .dataGrid{
    color: #000;
    background: white;
    padding: 20px;

    @include sm{
      padding: 2px;
      
    }


    .MuiDataGrid-toolbarContainer{
      flex-direction: row-reverse;
    }

    img{
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover; 

    }

    .action{
      display: flex;
      gap: 15px;

      @include sm{
        gap: 2px;
      }

      img{
        width: 20px;
        height: 20px;
        cursor: pointer;

        @include sm{
        width: 10px;
        height: 10px;
        }

      }
    }
  }
}