@import "../../styles/responsive.module.scss";

.search{

  .info{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    @include sm{
      margin-bottom: 10px;
      font-size: small;
    }
  
  }
}